<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        WebHook Reel
    </title>
    <script type="text/javascript" src="{{ url_for('static', filename='ender.min.js') }}"></script>
</head>

<body>
    <form method="post" action="/new">
        <input title="URL" type="text" name="url" spellcheck="false"></input>

        <input type="submit" value="Submit" />
    </form>

</body>
</html>